/*General case*/
html
{
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

body
{
    font-family: Calibri;
    font-size: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #FEFEFE;
    text-align: left;
    vertical-align: top;
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}


input.text
{
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}
/*Page divs*/
#dv_PageContainer
{
    padding: 0px 0px 0px 0px;
}

#header
{
    height: 90px;
    background-color: #FEFEFE;
    margin-left:auto;
    margin-right:auto;
}

.dv_Navigation
{
    border-top: 6px solid #808080;
    border-bottom: 3px solid #CCCCCC;
    background-color: #999999;
    height: 30px;
    font-size: 11pt;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

#main
{
    padding: 0px 0px 0px 0px;
    margin:0 auto;	
    background-color: #FEFEFE;
    height: 100%;
    display: none;
}

#footer
{
    text-align: center; /*height: 15px;*/
    background-color: #E6E6E6;
}

/*Header Text*/
#spn_Logo1
{
    padding: 0px 0px 0px 0px;
    font-size: 40pt;
    font-weight: bolder;
    color: #0033CC; /*text-shadow: 2px 2px 2px #555;*/
}

#spn_Logo2
{
    padding: 0px 0px 0px 0px;
    font-size: 40pt;
    font-weight: bolder;
    color: #FF6600;
}

#spn_Logo3
{
    float: right;
    padding: 0px 0px 0px 0px;
    font-size: 12pt;
    font-weight: bolder;
    color: #0033CC;
    color: #808080;
}

#spn_Logo4
{
    padding: 0px 0px 0px 0px;
    font-size: 14pt;
    font-weight: bolder;
    color: #0033CC;
}

#spn_Logo5
{
    padding: 0px 0px 0px 0px;
    font-size: 14pt;
    font-weight: bolder;
    color: #FF6600;
}

.navigation 
{
	cursor: pointer;
	border: none;
}

#icon {
	float:left;	
	margin: 6px 6px 6px 6px;
}

#fbcorner 
{
	margin: 6px 0px 6px 6px;
	float:left;
}

#logout 
{
	float:right;
	cursor: pointer;
	margin: 6px 6px 6px 6px;
}

#userlist 
{
	width:20%;
	height: 100%;
}

#detail
{
	float:right;
	width:77%;
}


.ui-widget-content{
    border: none;
}
.ui-widget-header{
   border: none;
}
img#icon {
	height: 72px;
	width: 120px;
}
img#logout {
	height:49px;
	width: 49px;
	display: none;
}
ul { 
	list-style: none;
	font-size: 13px;
}

ul.userlist li{ 
	margin:0 20px 20px 0; vertical-align:top;
	font-size: 14.5px;
}

.selected {
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:#ee8b49;	
}

div#qvshapeindexhistory {
	height:300px;
	width:90%;
}
div#qvtrainingsessionhistory {
	text-align:center;
	width:90%;
}
div.speedistrograph {
	height:120px;
	width:120px;
}
.jqplot-target {
	color:#ee8b49;
}
div.trainingsessionkeys {
	float:left;
	width:50%;
	text-align:left;
}
