/*General case*/
html
{
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

body
{
    font-family: Calibri;
    font-size: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #FEFEFE;
    text-align: left;
    vertical-align: top;
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}


input.text
{
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}
/*Page divs*/
#dv_PageContainer
{
    padding: 0px 0px 0px 0px;
}

#dv_Header
{
    height: 100px;
    background-color: #FEFEFE;
}

.dv_Navigation
{
    border-top: 6px solid #808080;
    border-bottom: 3px solid #CCCCCC;
    background-color: #999999;
    height: 30px;
    font-size: 11pt;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

#dv_Main
{
    padding: 0px 0px 0px 0px;
    margin:0 auto;	
    background-color: #FEFEFE;
    height: 100%;
}

#dv_Footer
{
    text-align: center; /*height: 15px;*/
    background-color: #E6E6E6;
}

/*Header Text*/
#spn_Logo1
{
    padding: 0px 0px 0px 0px;
    font-size: 40pt;
    font-weight: bolder;
    color: #0033CC; /*text-shadow: 2px 2px 2px #555;*/
}

#spn_Logo2
{
    padding: 0px 0px 0px 0px;
    font-size: 40pt;
    font-weight: bolder;
    color: #FF6600;
}

#spn_Logo3
{
    float: right;
    padding: 0px 0px 0px 0px;
    font-size: 12pt;
    font-weight: bolder;
    color: #0033CC;
    color: #808080;
}

#spn_Logo4
{
    padding: 0px 0px 0px 0px;
    font-size: 14pt;
    font-weight: bolder;
    color: #0033CC;
}

#spn_Logo5
{
    padding: 0px 0px 0px 0px;
    font-size: 14pt;
    font-weight: bolder;
    color: #FF6600;
}

#dv_Navigation a 
{
    color: White;
    text-decoration: none;
}

label.navigation 
{
	color: White;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

#fbcorner 
{
	float:right;
}

#userlist 
{
	width:20%;
	height: 100%;
	border:2px solid #CCCCCC;
}

#detail
{
	float:right;
	width:75%;
}


#qvtimetorecover
{
	width: 30%;
	float:left;
	text-align: center;
	border: 2px solid #CCCCCC;
}

#qvtraineeclassification 
{
	width: 30%;
	float:left;
	text-align: center;
	border: 2px solid #CCCCCC;
}

#qvshapeindex
{
	width: 30%;
	float:left;
	text-align: center;
	border: 2px solid #CCCCCC;
}
.shapeindexhistoryrow
{
	text-align: center;
	border: 2px solid #CCCCCC;
	position: relative;
}
.trainingsessionhistoryrow
{
	text-align: center;	
	border: 2px solid #CCCCCC;
	position: relative;
}
.shapeindexhistorycolumn
{
	text-align: center;
	margin: 0 auto 0 0;
	border: 1px solid #CCCCCC;
}
.trainingsessionhistorycolumn
{
	text-align: center;
	margin: 0 auto 0 0;
	border: 1px solid #CCCCCC;
}

